<!DOCTYPE html>
<html lang="en" >
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="app.js"></script>
<head>

  <title>&#9757;nterviewMe</title>

  <link rel="stylesheet" href="style.css">


</head>

<body >

  <div id="regbar" >
    <div id="textRightAlign">
      <h2><a href="#" id="loginform">Register</a> | <a href="#">How it works </a>| <a href="#">About interviewMe</a></h2>
   </div>
  </div>

  <div align="center">
    <h1 >&#9757;nterviewMe </h1>


 <div  align="center" class="formholder">


   <form ng-app="validationApp" name="userForm" novalidate>

   <div >
       <label name="email">Email</label>
       <input type="email" style="text-align:center;" name="email" ng-model="user.email" ng-minlength="3" ng-maxlength="30" required>
       {{message1}}

  </div>

   <label name="password">Password</label>
   <input type="password" style="text-align:center;"/>
   <input type="submit" value="Login" />
 </form>




 </div>
<h4>Improve your chances &#9786;</h4>

</div>


</body>
</html>
