* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;

  background: #2c3e50;
}

#wrap {
  margin: 0 auto 30px;

}

#regbar {
  height: 67px;
  background: #34495e;

}

#navthing {
  margin-left: 50px;


}

#textRightAlign{
  text-align: right;
  margin-right: 40px;
}

h1 {
  padding: 20px;
  font-size: 80px;
  font-family: cursive;
  color: #ecf0f1;
}

h2 {
  padding: 20px;
  color: #ecf0f1;
}

h4 {
  padding: 20px;
  color: #ecf0f1;
  font-family: cursive;
}


fieldset {
  border: none;
}

.login {
  position: relative;
  width: 350px;
  display: none;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #ECF0F1;
  left: 10%;
  position: absolute;
  top: -10px;
}

.formholder {
  background: #ecf0f1;
  width: 350px;
  border-radius: 140px;
  padding-top: 5px;
}
.formholder input[type="email"], .formholder input[type="password"] {
  padding: 7px 5px;
  margin: 10px 0;
  width: 96%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.formholder input[type="email"]:focus, .formholder input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #1abc9c;
}
.formholder input[type="submit"] {
  width: 100%;
      background-color: #1abc9c;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
}
.formholder input[type="submit"]:hover {
  background: #1bc6a4;
}



.randompad {
  padding: 10px;
}

.green {
  color: #1abc9c;
}

a {
  color: #ecf0f1;
  text-decoration: none;
}
a:hover {
  color: #1abc9c;
}
